body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.grid{
  display: grid;
  grid-template-columns: auto  250px  auto ;
  grid-template-rows: auto 75px 50px 350px 150px auto;
}

.logo{
  grid-column: 2;
  grid-row: 3;
}

.buttons{
  grid-column: 2;
  grid-row: 5;
  display: grid;
  grid-row-gap: 10px;
}

